<% title "Cheers! - drinki zawierające" %>

<% content_for :head do %>
<% end %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
					<h1>Drinki zawierające:
<% @ingredients.each do |ingredient| %>
	<%=h ingredient.name %>
<% end %>
</h1>


<table>
<% @coctails.each do |coctail| %>
  <tr>
    <td><%= link_to "#{coctail.name}", coctail %></td>
  </tr>
<% end %>
</table>

				</article>
						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->

