<% title "Cheers! - strona główna" %>

<% content_for :head do %>
<% end %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
					<h1>Drinki</h1>

<table>
<% @coctails.each do |coctail| %>
  <tr>
    <td><%= link_to "#{coctail.name}", coctail %></td>
	<td>Średnia ocena: <%= coctail.ratings.average('rating') %></td>
  </tr>
<% end %>
</table>
<div class="pagination">
<%= will_paginate @coctail %>
<div>	

				</article>
						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->
	
<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment first">
							<h4>Cheers!</h4>
<p>&copy; 2010, no i na zdrowie ;)</p>
					</aside><!-- end of #first footer segment -->
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>	
	

<!-- Free template created by http://freehtml5templates.com -->





