<% title "Cheers! - drinki" %>

<% content_for :head do %>
<% end %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
					<h1>Drinki</h1>

<table>
<% @coctails.each do |coctail| %>
  <tr>
    <td><%= link_to "#{coctail.name}", coctail %></td>
	<td>Średnia ocena: <%= coctail.ratings.average('rating') %></td>
  </tr>
<% end %>
</table>
<div class="pagination">
<%= will_paginate @coctail %>
<div>	

				</article>
						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->






