<% title "Cheers - autorzy" %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
<h1> Autorzy Projektu </h1>

</article>

			
			</section><!-- end of #content -->

	</section><!-- end of #main content -->

<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment first">
<p> &copy; Cheers! 2010</p>
					</aside><!-- end of #first footer segment -->
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>


