/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

#takeatour {
background-color:black;
color:white;
height:70px;
margin:0px 0;
opacity:0.7;
width:940px;
}
#takeatour h1 a {
color:white;
font-size:54px;
text-decoration:none;
padding:0 0 0 278px;
}

body {
background: #626667;
line-height: 1;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #666;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#wrapper {
margin:0px auto 0;
width:940px;
}

nav {

display: block;
width: 940px;
height: 50px;
margin: 0 auto;
background: #000;
border-color:#4B9786;
border-bottom:5px solid #4B9786;
border-top:5px solid #4B9786;
}

header {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
width: 940px;
height: 200px;
margin: 0 auto;
margin-top: 5px;
background: #000 url('../images/bluestreaks.jpg') no-repeat left top;
border-color:#4B9786;
border-top:5px solid #4B9786;
}

#main {
width: 940px;
margin: 0 auto;
background: #FFF;
overflow: hidden;
}

#content {
float: right;
width: 940px;
}

footer {
width: 940px;
margin: 0 auto;
clear: both;
border-color:#4B9786;
border-top:5px solid #4B9786;
margin-bottom: 5px;
}

b{
color:#fff;
background:#40403E none ;
}

/* basics */

h1 {
font-weight: bold;
clear: both;
color: ##2CBAE6;
}

h2, h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #000;
}

a:link, a:visited {
color:#26bae6;
text-decoration: none;
}

a:hover, a:active {
text-decoration: underline;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 1px;
list-style-type: none;
}

/* nav */

nav .menu {
font-size: 16px;
font-weight: bold;
}

nav .menu ul {
margin: 0;
padding: 0px 0 0 30px;
list-style: none;
line-height: normal;
}

nav .menu li {
display: block;
float: left;
margin-right: 5px;
}

nav .menu a {
		  display: block;
		  margin-right: 0px;
		  float: left;
		  height: 45px;
		  text-decoration: none;
		  padding: 6px 19px 0px 19px;
		  border-right: 5px solid;
border-left: 5px solid;
		  font-weight: bold;
		  background: #40403E;
		  color: #929280;
		  border-color: #fff;
}

nav .menu a:hover {
text-decoration: none;
}

nav li a:hover, nav li a.selected, nav li a.selected:hover
{
		  text-decoration: none;
		  background: #4B9786;
		  color: #EEE;
		  border-color: #2C2C2A;
} 

/** HEADER */

header h1 {
margin: 0;
padding: 0 0 0 60px;
line-height: normal;
}

header h1 { 	
float: left;
font-size: 40px;
}

header p {
width: 500px;
padding: 60px 0 0 60px;
font-style: italic;
font-size: 14px;
color: #efefef;
}

#reszta, #dodany {
color: #000;
font-size: 10px;
}

header li
{
		  display: inline;
		  float: right;
		  font-size: 100%;
		  text-align: right;
		  padding: 0px 15px 0px 0px;
}
/** ARTICLES **/

article {
padding: 12px 30px 10px 42px;
}

#contentbottom {
background-color: #e5e5e5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#d5d5d5), color-stop(.6,#e5e5e5));
	background-image: -moz-linear-gradient(19% 75% 90deg, #d5d5d5, #e5e5e5, #f5f5f5 100%);
}

	
.entirearticle {
padding-right: 20px;
}

.article_columns p a {
font-size: 12px;
font-style: italic;
font-weight: bold;
}

article img {
border: none;
}

#content h1, h2, h3, h4, h5, h6 {
color:#fff;
background:#40403E none ;
line-height: 1.5em;
margin: 0 20px 20px 0;
padding-left: 10px;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* inline blocks of images and captions */

.benefits {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	text-align: left;
	padding: .2em;
}

.leftblock {
	margin-right: 40px;
}

.middleblock {
	margin-right: 40px;
}

.rightblock {
	margin-right: 2px;
}

.benefits .thumbnail {
	border: none;
}

.benefits .caption {
	display: block;
	font-size: 15px;
	line-height: 1.5em;
	padding-left: 10px;
color:#929280;
background:#40403E none ;
}

.benefits p {
margin-top: 5px;
text-align: justify;
}

/* footer widget blocks */

aside h3 {
font-size: 18px;
}

aside ul {
list-style: none;
margin-bottom: 20px;
margin-top: -15px;
}

aside li a {
display: block;
text-decoration: none;
}

aside li a:hover {
text-decoration: underline;
}

#footer-area {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
background: #000;
color: #efefef;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: left;
width: 190px;
}

.first {
float: left;
margin-top: 22px;
margin-left: 20px;
}

footer aside h4 {
color: #fff;
font-size: 16px;
line-height: 1.5em;
}

footer a:link, footer a:visited {
color: #2cbae6;
}

footer p {
margin-top: -15px;
color: #ddd;
}
