<% title "Cheerss! - składniki" %>

<% content_for :head do %>
<% end %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
					<h1>Składniki</h1>
<table>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= link_to "#{ ingredient.name }", ingredient_coctails_path(ingredient) %></td>
  </tr>
<% end %>
</table>
<br>
<%= will_paginate @ingredient %>

</article>
						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->

<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment first">
<p> &copy; Cheers! 2010</p>
					</aside><!-- end of #first footer segment -->
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>

