<% title "Cheers - autorzy" %>
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
				<article>
<h1> Autorzy Projektu </h1>
<ul>
<li><a href="mailto:gordiasz126@gmail.com">Krzysztof Żądłowski</a>
<li><a href="mailto:1jar1@wp.pl,">Jarosław Kosmaczewski</a>
<li><a href="mailto:kaminski21@poczta.onet.pl">Kamil Kamiński</a>
<li><a href="mailto:arthurus123@gmail.coml">Artur Paszkiewicz</a>
<li><a href="mailto:tekosz@gmail.com">Tomasz Sikorski</a>
</ul>

<br>
<h1> ? </h1>
<p>Jesteśmy studentami <a href="http://inf.ug.edu.pl/">Uniwersytetu Gdańskiego</a>, na kierunku informatyka. Strona powstała na potrzeby projektu zaliczeniowego z przedmiotu Architektura serwisów internetowych w środowisku Ruby on Rails. Do utworzenia widoków zostały użyte elementy HTML5, CSS3 oraz JavaScript. </p>



</article>

						
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->

<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment first">
<p> &copy; Cheers! 2010</p>
					</aside><!-- end of #first footer segment -->
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>


